*
{
    text-align: center;
    color: white;
}

body
{
    margin: 0 auto;
    background-color: rgb(0, 255, 21);
    font-family: 'Courier New', Courier, monospace;
}

span
{
    display: block;
}

h1
{
    margin-top: 0;
    box-sizing: border-box;
    padding: 5px;
}

body
{
    background-image: url(../img/backraund.jpg);
    background-size: cover;
}

.q 
{
    display: flex;
}

.w
{
    height: 100px;
    width: 300px;
    margin-bottom: 20px;
    margin-left: 10px;
    margin-right: 20px;
    border: 2px solid grey;
}